.festival__header {
  display: flex;
  align-items: center;
  font-family: var(--heading);
  column-gap: 20px;
  padding: 20px;
  font-weight: bold;
  font-size: 60px;
  nav {
    width: 100%;
    display: flex;
  }
  h2,
  h3 {
    font-size: inherit;
  }
  &--archive {
    font-size: 90px;
    display: block;
    text-align: center;
    .festival__logo {
      margin: 0 auto 30px;
      max-width: 250px;
      img {
        width: 100%;
      }
    }
    nav {
      justify-content: center;
    }
    margin-bottom: 50px;
  }
}
.festival__logo {
  max-width: 130px;
}
.festival__header nav .link {
  a {
    font-family: var(--heading);
    font-weight: inherit;
    font-size: inherit;
    color: white;
    padding: 20px;
    display: inline-block;
    &:hover {
      color: var(--pink);
    }
  }
  &.current-festival {
    a {
      color: var(--pink);
    }
  }
}
