.festival__layout {
  width: 100vw;
  min-height: 100vh;
  background: var(--background);
  color: var(--white);
  display: grid;
  grid-template-columns: minmax(0px, 1fr) min(100%, 1100px) minmax(0px, 1fr);
  & > * {
    grid-column: 2/3;
    padding-left: 20px;
    padding-right: 20px;
  }
  & > .full-bleed {
    grid-column: 1/-1;
  }
}

// TYPE
.festival__layout {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: white;
  }
}
