.marquee__wrapper {
  background: var(--marquee);
  padding: 0;
  position: relative;
  width: 100%;
  overflow-x: hidden;
  height: 150px;
  margin-bottom: 30px;
}
.__marquee {
  display: flex;
  gap: 30px;
  height: 100%;
  align-items: center;
  img {
    height: 100%;
  }
}
