//main.scss

// DEFAULT DESIGN TOKENS
:root {
  --heading: "bambi", serif;
  --text: "bodoni", serif;

  --white: white;
  --pink: #fbd1de;
  --background: #171818;
  --background-highlight: #232525;
  --marquee: #86d6b9;
}

body {
  padding: 0;
  margin: 0;
}
body {
  box-sizing: border-box;
  *,
  *:after,
  *:before {
    box-sizing: inherit;
    // position: relative;
  }
}
/* 
Sinlge Layout 
*/
@import "./component/festival-layout.scss";
/* 
Single Header
*/
@import "./component/festival-header.scss";

/* 
Marquee
*/
@import "./component/marquee.scss";

/*
Carousel
*/
@import "./component/carousel.scss";

/*
Festival Info
*/
@import "./component/info-bar.scss";
